
*{  
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #183A4A;
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 80%;
    margin: auto;
}
#title{
    text-align: center;
    color: white;
}
.list{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-evenly;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    color:black;
    margin: 2rem;
    width: 100px;
    height: 100px;
    font-size: x-large
}
.div_3_5{
    background-color: #DE5471;
}
.div_3{
    background-color: #61D2A4;
}
.div_5{
    background-color: #F9D277;
}
.num{
    background-color: #3D88AE;
    
}